*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:cursive;
}

body{
    color: black;
    background-color: #fe7843;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    padding: 2rem;
    background: rgba(245, 108, 58, 0.159);
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    border-radius:15px;
    box-shadow: 2px 2px 4px;
    transition: .6s;
}

/* .container:hover{
    box-shadow: inset 2px 2px 4px;
    border-radius: none;
} */

h1{
    font-family: serif;
    font-size: 2rem;
}

.user-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}

.user-input-container{
    display: flex;
    justify-content: space-between;
}

#user-input{
    width: 80%;
    padding: 0.2rem;
    border-radius: 5px;
}

#search-btn{
    padding: 0.2rem;
    border-radius: 5px;
}

/* #search-btn::after{
    border-radius: 10px;
} */


.circle{
    background: conic-gradient(black var(--progress-degree, 0%),rgb(52, 46, 46)  0%);
    color: white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid rgb(0, 0, 0);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    flex-direction: column;
}

.circle span{
    position: relative;
    z-index: 2;
}


.progress{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}
